{% load static %}
<!DOCTYPE html>
<html lang="en">
  <div>
    <head>
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />
      <meta name="description" content="" />
      <meta name="author" content="" />
      <title>TRA</title>
      <link rel="icon" href="{% static 'images/favicon.ico' %}" />
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/font-awesome.css' %}"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/bootstrap.css' %}"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/mdb.css' %}"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/owl.carousel.css' %}"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/owl.theme.default.css' %}"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/jquery.fancybox.css' %}"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/hover.css' %}"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/animate.css' %}"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/aos.css' %}"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/style.css' %}"
      />
          <!-- Custom styles for this template -->
      <link href="{% static 'css/footer/style.css' %}" rel="stylesheet" />



      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script src="{% static 'js/sb-script.js' %}"></script>
      <script type="text/javascript">

        function checkAllOperators() {
          for (let i = 1; i <= 3; i++) {
            document.getElementById("cb1_" + i).checked = true;
            document.getElementById("cb2_" + i).checked = true;
            document.getElementById("cb3_" + i).checked = true;
            document.getElementById("cb4_" + i).checked = true;
            document.getElementById("cb5_" + i).checked = true;
            document.getElementById("cb6_" + i).checked = true;
          }
        }

        function uncheckAllOperators() {
          for (let i = 1; i <= 3; i++) {
            document.getElementById("cb1_" + i).checked = false;
            document.getElementById("cb2_" + i).checked = false;
            document.getElementById("cb3_" + i).checked = false;
            document.getElementById("cb4_" + i).checked = false;
            document.getElementById("cb5_" + i).checked = false;
            document.getElementById("cb6_" + i).checked = false;
          }
        }

        function selectOpertor(event) {
          if (event.checked) {
            checkAllOperators();
          } else {
            uncheckAllOperators();
          }
        }


        

        function checkAllMinutes() {

          for (let i = 1; i <= 1; i++) {
            document.getElementById("m1_" + i).checked = true;
            document.getElementById("m2_" + i).checked = true;
          }
        }

        function uncheckAllMinutes() {

          for (let i = 1; i <= 1; i++) {
            document.getElementById("m1_" + i).checked = false;
            document.getElementById("m2_" + i).checked = false;
          }
        }

        function selectMinutes(event) {

          if (event.checked) {
            checkAllMinutes();
          } else {
            uncheckAllMinutes();
          }
        }


      </script>
    </head>

    <body>
      <nav class="navbar navbar-expand-lg navbar-dark navbar-main">
        <div class="container-xl container-nav">
          <div class="logo">
            <a href="index.html">
              <img src="{% static 'images/tra-logo.png' %}" alt="TRA" />
            </a>
          </div>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav tool-nav">
              <li class="nav-item">
                {% if 'lang' in request.get_full_path %}
              <a class="nav-link nav-lng" href="{{ request.get_full_path | cut:"?lang=en" |add:"?lang=ar"}}">
              {% else %}
              <a class="nav-link nav-lng" href="{{ request.get_full_path|add:"?lang=ar" }}">
              {% endif %}<span class="nav-label">Arabic</span>
                  <span class="nav-icon">
                    <img
                      src="{% static 'images/top-nav-01.png' %}"
                      alt="My image"
                    /> </span
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <section class="banner-sec">
        <div class="banner-cover">
          <div class="container-xl">
            <div class="banner-plan-cover">
              <div class="banner-plan-img">
                <img
                  src="{% static 'images/slider-mobile-plan.png' %}"
                  alt="Image"
                />
              </div>
              <div class="banner-plan-hd">
                <h1>
                  <span class="hd-small">Find your</span> <br />Mobile Plan
                </h1>
                <p>
                  Finding the mobile plan that meets your needs and budget has
                  never been easier. Use TRA's mobile plan finder to get
                  started.
                </p>
                {% if 'lang' in request.get_full_path %}
                <a class="btn btn-start" href="/?lang={{request.POST.lang}}">Get Started</a>
                {% else %}
                <a class="btn btn-start" href="/?lang=en">Get Started</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </section>

      <main class="content-sec">
        <section class="pos-sec-ind-sec">
          <div class="container-xl">
            <div class="row">
              <div class="col-12">
                <div class="plan-select-form">
    
                  {% include 'bestplan/en/sections/filter_form.html' with result_page='no' width="8"%}
    
        
        
                </section>
      </main>

      
        <div class="container-xl">
          <div class="row">
            <div class="col-12">
              <div class="powered-cover">
                Powered by
                <img
                  src="{% static 'images/SBlogo.png' %}"
                  alt="Logo"
                  style="width: 70px"
                />
              </div>
            </div>
          </div>
        </div>
      <a href="javaScript:;" id="return-top" class="return-top"
      ><span> <img src="{% static 'images/up-icon.svg' %}" alt="Up" /> </span
    ></a>

      {% include 'bestplan/en/sections/footer.html' %}

      <!-- MDB core JavaScript -->
      <script src="{% static "js/footer/mdb.min.js" %}"></script>
      <!-- Owl carousel -->
      <script src="{% static "js/footer/owl.carousel.js" %}"></script>
      <!-- Particles animation -->
      <script src="{% static "js/footer/jquery.particleground.js" %}"></script>
      <!-- Aos animation -->
      <script src="{% static "/js/footer/aos.js" %}"></script>
      <!-- Custom JS -->
      <script src="{% static "/js/footer/main.js" %}"></script>
   

    </body>
  </div>
</html>
