{% include 'bestplan/en/form_controllers/service_type.html' with result_page=result_page  width=width%}
    
    
<!--  Mobile Form -->
<form action="result?lang=en" method="POST" class="mobile box" style="display: none;">
  {% csrf_token %}
 
  <!-- Mobile -->

    <!-- Hidden Service Type -->
    <input class="form-control input-sm" name="lang" value="en" type="text" Hidden required /> 

        <input class="form-control input-sm" name="service_type" value="mobile" type="text" Hidden required />

        {% include 'bestplan/en/form_controllers/operator.html' with id="1" result_page=result_page  width=width%}
        
        <!-- Plan Type -->
        {% include 'bestplan/en/form_controllers/plan_type.html' with result_page=result_page  width=width%}

        {% comment %} <!-- Term Length  -->
        {% include 'bestplan/en/form_controllers/term_length.html' with result_page=result_page  width=width%} {% endcomment %}

        <!-- Data GB Per Month -->
        {% include 'bestplan/en/form_controllers/data_allowance.html' with result_page=result_page  width=width%}

        <!-- Minutes Per Month -->
        {% include 'bestplan/en/form_controllers/minutes_per_month.html' with result_page=result_page  width=width%}

        <!-- Minutes -->
        {% include 'bestplan/en/form_controllers/min.html' with  id="1" result_page=result_page  width=width%}

        <!-- Roaming -->
        {% include 'bestplan/en/form_controllers/roaming.html' with  id="1" result_page=result_page  width=width%}

        <!-- Price -->
        {% include 'bestplan/en/form_controllers/price.html' with result_page=result_page  width=width%}

        <!-- Submit Button-->
        {% include 'bestplan/en/form_controllers/submit_button.html' with result_page=result_page  width=width%}
        
</form>
    
    
    <!-- Fixed -->
<form action="result" method="POST" class="fixed box" style="display: none;">
  {% csrf_token %}
      
      <!-- Fixedbroadband -->
        <!-- Hidden Service Type -->
        <input class="form-control input-sm" name="lang" value="en" type="text" Hidden required /> 

        <input class="form-control input-sm" name="service_type" value="fixed" type="text" Hidden required />
        
        {% include 'bestplan/en/form_controllers/fixed_operator.html'  with id="2"  result_page=result_page  width=width%}
        
        <!-- Price -->
        {% include 'bestplan/en/form_controllers/price.html' with result_page=result_page  width=width%}
        
        <!-- Minutes -->
        {% include 'bestplan/en/form_controllers/min.html' with  id="2" result_page=result_page  width=width%}
        
        <!-- Roaming -->
        {% include 'bestplan/en/form_controllers/roaming.html' with  id="2" result_page=result_page  width=width%}
        
        <!-- Data GB Per Month -->
        {% include 'bestplan/en/form_controllers/data_allowance.html' with result_page=result_page  width=width%}
        
        <!-- Minutes Per Month -->
        {% include 'bestplan/en/form_controllers/minutes_per_month.html' with result_page=result_page  width=width%}
        
        <!-- Submit Button-->
        {% include 'bestplan/en/form_controllers/submit_button.html' with result_page=result_page  width=width%}
        
</form>
    
<!-- Fixed and Mobile Form -->
<form action="result" method="POST" class="both box" style="display: none;" >
  {% csrf_token %}
      
       {% comment %} <!-- Hidden Service Type -->
       <input class="form-control input-sm" name="service_type" value="all" type="text" Hidden required />
       {% endcomment %}
  
        <!-- Language -->
        <input class="form-control input-sm" name="lang" value="en" type="text" Hidden required /> 

        <!-- Mobile & Fixed Broadband -->
        {% include 'bestplan/en/form_controllers/both_operator.html'  with id="3"  result_page=result_page  width=width%}
      
        <!-- Plan Type -->
        {% include 'bestplan/en/form_controllers/plan_type.html' with result_page=result_page  width=width%}
      
        <!-- Term Length  -->
        {% include 'bestplan/en/form_controllers/term_length.html' with result_page=result_page  width=width%}
        
        <!-- Data GB Per Month -->
        {% include 'bestplan/en/form_controllers/data_allowance.html' with result_page=result_page  width=width%}
      
        <!-- Minutes Per Month -->
        {% include 'bestplan/en/form_controllers/minutes_per_month.html' with result_page=result_page  width=width%}

        <!-- Price -->
        {% include 'bestplan/en/form_controllers/price.html' with result_page=result_page  width=width%}
      
        <!-- Submit Button-->
        {% include 'bestplan/en/form_controllers/submit_button.html' with result_page=result_page  width=width%}
  
</form>



<!-- Fixed and Mobile Form -->
<form action="result" method="POST" class="empty box" style="display: none;" >
  {% csrf_token %}
      
  {% comment %} <!-- Hidden Service Type -->
  <input class="form-control input-sm" name="service_type" value="all" type="text" Hidden required />
  {% endcomment %}

   <!-- Language -->
   <input class="form-control input-sm" name="lang" value="en" type="text" Hidden required /> 

   <!-- Mobile & Fixed Broadband -->
   {% include 'bestplan/en/form_controllers/both_operator.html'  with id="3"  result_page=result_page  width=width%}
 
   <!-- Plan Type -->
   {% include 'bestplan/en/form_controllers/plan_type.html' with result_page=result_page  width=width%}
 
   <!-- Term Length  -->
   {% include 'bestplan/en/form_controllers/term_length.html' with result_page=result_page  width=width%}
   
   <!-- Data GB Per Month -->
   {% include 'bestplan/en/form_controllers/data_allowance.html' with result_page=result_page  width=width%}
 
   <!-- Minutes Per Month -->
   {% include 'bestplan/en/form_controllers/minutes_per_month.html' with result_page=result_page  width=width%}

   <!-- Price -->
   {% include 'bestplan/en/form_controllers/price.html' with result_page=result_page  width=width%}
 
   <!-- Submit Button-->
   {% include 'bestplan/en/form_controllers/submit_button.html' with result_page=result_page  width=width%}

</form>



