.statisticsDiv{
    padding: 20px;
}


.canvasDiv{
    background-color: aliceblue;
    margin: 15px;
    width: 300px;
    height: 350px;
   display: inline-block;
   
}


.canvas {
     
    /* apply grayscale effect to make images black and white */
  }

.chartType img{
    width:  250px;
    height:280px ;
    padding: 40px;
}