.statisticsDiv{
    padding: 15px;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #ce8888;
}

/* style=" max-width:600px; max-height: 400px;" */

.canvas{
   max-width: 600px;
   max-height: 400px;
}

.chart {
    width: 200px;
    height: 200px;
    filter: grayscale(100%);  /* apply grayscale effect to make images black and white */
  }

/* .statisticsDiv canvas{
    max-width:600px;
    max-height: 300px;
    width:100%;
} */