.statisticsDiv{
    padding: 20px;
}


.canvas div{
   max-width: 600px;
   max-height: 400px;
   display:inline-flex ;
}

.chart {
    width: 200px;
    height: 200px;
    filter: grayscale(100%);  /* apply grayscale effect to make images black and white */
  }

.chartType img{
    width:  150px;
    height:180px ;
    padding: 40px;
}

/* .statisticsDiv canvas{
    max-width:600px;
    max-height: 300px;
    width:100%;
} */