{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TRA</title>
    <style>
        .btn-edit {
            text-align: left;
            color: var(--white);
            font-size: 0.875rem;
            font-weight: 600;
            background-color: var(--color-100);
            padding: 0.65rem 1.5rem;
            border-radius: 0.25rem;
            margin: 5;
        }

        .btn-edit:hover {
            background-color: var(--color-300);
        }
    </style>

    <link rel="icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/mdb.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.default.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/hover.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/aos.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/statistics.css' %}" />
    <!-- multiSelectDiv -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/multiSelectStyle.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">

    <!-- chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- multiSelectDiv -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/statistics.js' %}"></script>
    <!-- multiSelectDiv -->

    <!-- limit select library -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <link  href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

</head>

<body>
    <!-- Choose Chart Dialog -->
    <form action="/save-chart" method="GET" id="form">
        <div>
            <dialog class="chartDialog" id="DialogChart">
                <input name="chartType" value="" hidden id="chartTypeInput" />


                <!-- Choose Chart Type -->
                <div class="form-group row">
                    <span class="col-sm-6 col-form-label"> Chart Type :</span>
                    <div class="chartType" id="chartType">
                        <img name="line" src="{% static 'images/lineChart1.png' %}" class="chart"
                            onclick="enableImage(this)" />
                        <img name="bar" src="{% static 'images/barChartpng.png' %}" class="chart"
                            onclick="enableImage(this)" />
                        <img name="pie" src="{% static 'images/pieChart.png' %}" class="chart"
                            onclick="enableImage(this)" />
                    </div>
                </div>



                <div id="multiSelectDiv" style="display: none;">
                    <section>
                        <div class="form-group row">
                            <div id="limit-2">
                                <span>Select Lable</span>
                                <select id="multiSelect" name="plan_field" class="select2" style="width: 100%;"
                                    multiple>
                                    <option value="price_value">Price</option>
                                    <option value="international_minutes">International Minutes</option>
                                    <option value="data_allowance_value">Data Allowance</option>
                                    <option value="flexi_minutes">Flexi Minutes</option>
                                    <option value="local_minutes">Local Minutes</option>
                                    <option value="duration_value">Duration Value</option>
                                    <option value="social_media_data_value">Social Media Data</option>
                                    <option value="download_speed_value">Download Speed</option>
                                    <option value="upload_speed_value">Upload Speed</option>
                                    <option value="fixed_line_minutes">Fixed Line Minutes</option>
                                    <option value="world_roaming_value">World Roaming</option>
                                    <option value="contract_duration_value">Contract Duration</option>
                                </select>
                            </div>
                        </div>
                    </section>
                </div>



                <!-- Choose Chart Type -->
                <div class="modal-footer">
                    <button class="btn btn-chart" id="chartHide" type="button">Close</button>
                    <button class="btn btn-chart" type="submit" id="save-chart">Apply</button>

                </div>
            </dialog>
        </div>
    </form>
    <!-- Choose Chart Dialog -->



    <div>
        <dialog class="removeChartDialog" id="deleteDialog" style="position: fixed;">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Are You Sure?</h2>
            </div>
            <div class="modal-footer">
                <button id="closeDialog" class="btn btn-chart">Close</button>
                <form action="/delete-chart" method="POST">
                    <input type="hidden" name="chart_id" id="deleteChartId" value="">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-chart">
                        Delete
                    </button>
                </form>
            </div>
        </dialog>
    </div>

    <p class='display-inline-block'>
        <button class="btn btn-edit" id="editButton" onclick="addChart();" style="margin-left:50px">
            <span class="fa fa-edit mr-3"></span>
            EDIT
        </button>

        <button class="icon-btn add-btn" id="addChartShow" style="display:none;">
            <div class="add-icon" style="margin-top:10px ;"></div>
            <div class="btn-txt">Add Chart</div>
        </button>
        <!-- <button  class="btn-outline-primary editButtons" ><i class="fa fa-edit"></i> Edit 
        </button> -->

    <div class="row">


    </div>

    <!-- <button class="icon-btn add-btn" id="addChartShow" style="display:none;">
            <div class="add-icon"></div>
            <div class="btn-txt">Add Chart</div>
        </button> -->
    </p>




    <!-- <div class="top-row row">
        <div class="top-chart segment">
          <div class="chart-title title">Calls Received</div>
          <div class="chart-icon">
            <i class="fa-solid fa-hashtag"></i>
          </div>
          <div class="chart-main">3,695</div>
          <div class="chart-subtitle">-5% vs Dec-21</div>
          <canvas id="callVolumes"></canvas>
        </div> -->

    <div class="row" id="row">

        <div>
            <button class="delete" id="removeChartShow3" style="display:none;">
                <span class="svg fa fa-minus" width="25" height="25" fill="none" viewBox="0 0 24 24"></span>
            </button>
            <!-- <canvas id="pieChart" style="width: 350px; padding: 15px"></canvas> -->
        </div>



        <div id="chartsContainer">

            <!-- Charts with Delete Button -->


        </div>


    </div>
</body>

<script>


    // dialog for chooseing chartType and lables
    (function () {
        var dateDialog = document.getElementById("DialogChart");
        document.getElementById("addChartShow").onclick = function () {
            dateDialog.show();
        };
        document.getElementById("chartHide").onclick = function () {
            dateDialog.close();
        };
    })();


    var chart_result = "{{charts |escapejs }}";
    chartsList = JSON.parse(chart_result)["charts"]
    console.log("charts: ", chartsList)
    const chartsContainer = document.getElementById('chartsContainer');
    editButton = document.getElementById('editButton');


    chartsList.forEach(element => {
        var labels, values;
        var chartType = element["chartType"]
        var parameters = element["parameters"]
        var xValues = [];
        var yValues = [];
        var planFields = []
        var sumValues = []

        // line & bar charts
        if (element.chartType === "bar" || element.chartType === "line") {
            labels = element.lables //get lable name

            //to remove (_) from lables
            var formattedLabels = labels.map(function (label) {
                return label.replace(/_/g, ' ').replace('value', '').trim();
            });

            // store x and y values in list
            element.values.forEach(function (value) {
                xValues.push(value.x);
                yValues.push(value.y);
            });

            console.log("Labels:", labels);
            console.log("xValues:", xValues);
            console.log("yValues:", yValues);
        }


        // pie chart
        else if (element.chartType === "pie") {
            var parameters = element.parameters;
            // get plan_field
            planFields = parameters.map(function (param) {
                return param.plan_field.replace(/_/g, ' ').replace('value', '').trim();
            });

            //get value for each field
            sumValues = parameters.map(function (param) {
                return param.value;
            });
            console.log("plan_field: ", planFields)
            console.log("sum Value: ", sumValues)
        }


        const chartDiv = document.createElement('div'); //create div for chart
        chartDiv.id = 'chart';
        chartDiv.style = 'display:inline-block';
        chartsContainer.append(chartDiv); // append div in charts container
        const deletebutton = document.createElement('button'); //create delete button for each chart

        chartDiv.appendChild(deletebutton);
        deletebutton.id = 'removeChart';
        deletebutton.style = 'display:none';
        deletebutton.className = 'btn btn-chart';
        deletebutton.textContent = 'delete';
        const canvas = document.createElement('canvas'); // create canvas
        canvas.width = 450;
        canvas.height = 400;
        chartDiv.appendChild(canvas);


        // Show delete buttons for every chart
        editButton.addEventListener('click', function () {
            deletebutton.style.display = deletebutton.style.display === 'none' ? 'inline-block' : 'none';
        });


        // Show Delete Dialog
        deletebutton.addEventListener('click', function () {
            var deleteChartIdInput = document.getElementById("deleteChartId")
            deleteChartIdInput.value = element.id
            console.log("iddd11: ", deleteChartIdInput)
            const deleteDialog = document.getElementById("deleteDialog");
            deleteDialog.style.display = deleteDialog.style.display === 'none' ? 'inline-block' : 'none';
        });


        // Hide Dialog When Close Click
        const closeDialogButton = document.getElementById('closeDialog');
        const deleteDialog = document.getElementById('deleteDialog');
        closeDialogButton.addEventListener('click', function () {
            deleteDialog.style.display = 'none';
        });


        // displaying the charts 
        if (chartType == 'line') {
            var uniqueXValues = [];
            var uniqueYValues = [];

            for (var i = 0; i < xValues.length; i++) {
                var xValue = xValues[i];
                var yValue = yValues[i];

                if (xValue && yValue && !hasDuplicate(uniqueXValues, uniqueYValues, xValue, yValue)) {
                    uniqueXValues.push(xValue);
                    uniqueYValues.push(yValue);
                }
            }

            // check if there is an duplicate points
            function hasDuplicate(arr1, arr2, xValue, yValue) {
                for (var i = 0; i < arr1.length; i++) {
                    if (arr1[i] === xValue && arr2[i] === yValue) {
                        return true;
                    }
                }
                return false;
            }

            // displayed uniqueXValues in ascending order
            uniqueXValues.sort(function (a, b) {
                return a - b;
            });


            console.log("uniqueXValuesLine: ", uniqueXValues)
            console.log("uniqueYValuesLine: ", uniqueYValues)

            new Chart(canvas, {
                type: "line",
                data: {
                    labels: uniqueXValues,
                    datasets: [
                        {
                            label: formattedLabels.join(" & "),
                            data: uniqueYValues,
                            borderWidth: 1,
                        },
                    ],
                },
                options: {
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: labels[0].replace(/_/g, ' ').replace('value', ''),
                            },
                        },
                        y: {
                            title: {
                                display: true,
                                text: labels[1].replace(/_/g, ' ').replace('value', ''),
                            },
                        },
                    },
                },
            });
        }
        else if (chartType === 'bar') {

            var uniqueXValues = [];
            var uniqueYValues = [];

            for (var i = 0; i < xValues.length; i++) {
                var xValue = xValues[i];
                var yValue = yValues[i];

                if (xValue && yValue && !hasDuplicate(uniqueXValues, uniqueYValues, xValue, yValue)) {
                    uniqueXValues.push(xValue);
                    uniqueYValues.push(yValue);
                }
            }

            // check if there is an duplicate points
            function hasDuplicate(arr1, arr2, xValue, yValue) {
                for (var i = 0; i < arr1.length; i++) {
                    if (arr1[i] === xValue && arr2[i] === yValue) {
                        return true;
                    }
                }
                return false;
            }

            // display uniqueXValues in ascending order
            uniqueXValues.sort(function (a, b) {
                return a - b;
            });


            console.log("uniqueXValuesBar: ", uniqueXValues)
            console.log("uniqueYValuesBar: ", uniqueYValues)


            new Chart(canvas, {
                type: "bar",
                data: {
                    labels: uniqueXValues,
                    datasets: [
                        {
                            label: formattedLabels.join(" & "),
                            data: uniqueYValues,
                            borderWidth: 1,
                        },
                    ],
                },
                options: {
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: labels[0].replace(/_/g, ' ').replace('value', ''),
                            },
                        },
                        y: {
                            title: {
                                display: true,
                                text: labels[1].replace(/_/g, ' '),
                            },
                        },
                    },
                },
            });
        }
        else if (chartType == 'pie') {
            var datasets = [];

            // Loop over the planFields array
            for (var i = 0; i < planFields.length; i++) {
                var dataset = {
                    label: planFields[i],
                    value: sumValues[i],
                    borderWidth: 1
                };

                datasets.push(dataset);
                console.log("dataset: ", dataset)
            }


            // get percentages
            var totalSum = sumValues.reduce(function (accumulator, currentValue) {
                return accumulator + currentValue;
            }, 0);

            var percentages = sumValues.map(function (value) {
                return ((value / totalSum) * 100).toFixed(0);
            });


            new Chart(canvas, {
                type: "pie",
                data: {
                    // to show % with the persentages 
                    labels: planFields.map(function (label, index) {
                        return label + ' (' + percentages[index] + '%)';
                    }),
                    datasets: [{
                        data: percentages,
                        borderWidth: 1,
                    }],
                }
            });
        }
        else {
            console.log("no such type!");
        }
    })



    // Chart type function
    function enableImage(imageElement) {
        // get all chart images
        var charts = document.querySelectorAll(".chart");
        // loop through chart images and disable them
        for (var i = 0; i < charts.length; i++) {
            charts[i].style.filter = "grayscale(100%)"; // apply grayscale effect to make images black and white
        }
        // enable selected image by removing the grayscale effect
        imageElement.style.filter = "none";
        const chartTypeInput = document.getElementById("chartTypeInput")
        chartTypeInput.value = imageElement.name

        //select dropDown 
        var multiSelectDiv = document.getElementById("multiSelectDiv");
        var unlimitSelectDiv = document.getElementById("unlimit");
        if (chartTypeInput.value == 'bar' || chartTypeInput.value == 'line') {
            multiSelectDiv.style.display = "block";
            $(document).ready(function () {
                $('#limit-2 .select2').select2({
                    multiple: "multiple",
                    maximumSelectionLength: 2,
                    language: {
                        maximumSelected: (args) => "You can only select 2 labels"
                    }
                });
            });
        }
        else {
            multiSelectDiv.style.display = "block";
            $(document).ready(function () {
                $('#limit-2 .select2').select2({
                    multiple: "multiple",
                });
            });
        }
    }


    // Add Chart Dialog
    function addChart() {
        var elm = document.getElementById("addChartShow");
        if (elm.style.display == "inline") {
            elm.style.display = "none";
        }
        else {
            elm.style.display = "inline";
        }
    }

    

</script>

</html>