{% load static %}
<!DOCTYPE html>
<html lang="en">

<div>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>TRA</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mdb.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/hover.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->


    <!-- DropDown MultiSelect URLs -->
    <script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css" />

    <!-- Range URLs -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.css"
      integrity="sha512-SZgE3m1he0aEF3tIxxnz/3mXu/u/wlMNxQSnE0Cni9j/O8Gs+TjM9tm1NX34nRQ7GiLwUEzwuE3Wv2FLz2667w=="
      crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js"
      integrity="sha512-f0VlzJbcEB6KiW8ZVtL+5HWPDyW1+nJEjguZ5IVnSQkvZbwBt2RfCBY0CBO1PsMAqxxrG4Di6TfsCPP3ZRwKpA=="
      crossorigin="anonymous"></script>

    <script>
      $(document).ready(function () {
        $("select").change(function () {
          $(this).find("option:selected").each(function () {
            var optionValue = $(this).attr("value");
            if (optionValue) {
              $(".box").not("." + optionValue).hide();
              $("." + optionValue).show();
            } else {
              $(".box").hide();
            }
          });
        }).change();
      });
    </script>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-main">
      <div class="container-xl container-nav">
        <div class="logo">
          <a href="index.html">
            <img src="{% static 'images/tra-logo.png' %}" alt="TRA">
          </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav tool-nav">
            <li class="nav-item">
              <a class="nav-link nav-lng" href="javaScript:;"><span class="nav-label">Arabic</span>
                <span class="nav-icon">
                  <img src="{% static 'images/top-nav-01.png' %}" alt="My image">
                </span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <section class="banner-sec">
      <div class="banner-cover">
        <div class="container-xl">
          <div class="banner-plan-cover">
            <div class="banner-plan-img">
              <img src="{% static 'images/slider-mobile-plan.png' %}" alt="Image" />
            </div>
            <div class="banner-plan-hd">
              <h1><span class="hd-small">Find your</span> <br />Mobile Plan</h1>
              <p>
                Finding the mobile plan that meets your needs and budget has
                never been easier. Use TRA's mobile plan finder to get started.
              </p>
              <a class="btn btn-start" href="#">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </section>


    <main class="content-sec">
      <section class="pos-sec-ind-sec">
        <div class="container-xl">
          <div class="row">
            <div class="col-12">
              <div class="plan-select-form">
                <form action="result" method="GET">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">
                      Service Type :</label>
                    <div class="col-sm-8">
                      <select class="form-control input-sm" name="service_type">
                        <option>Choose Service Type</option>
                        <option value="Mobile" name ="mobile">Mobile </option>
                        <option value="Fixedbroadband" name="fixedbroadband">Fixed Broadband </option>
                        <option value="Both" name="both">Mobile & Fixed Broadband </option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">
                      Operators :</label>
                    <div class="col-sm-8">
                      <select id="allSelectedText" class="form-control input-sm" name = "operator" multiple>
                        <!-- <option  >Select all</option> -->
                        <option value="Omantel" name="omantel">Omantel </option>
                        <option value="Ooredoo" name="ooredoo">Ooredoo</option>
                        <option value="Renna" name="renna">Renna</option>
                        <option value="Firendly" name="firendly">Firendly</option>
                        <option value="Awaser" name="awaser">Awaser</option>
                        <option value="Vodafone" name="vodafone">Vodafone</option>
                      </select>

                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">
                      Range :</label>
                    <div class="col-sm-8">
                      <div id="slider-outer-div">
                        <div id="slider-max-label" name ="slider_max_label" hidden></div>
                        <div id="slider-min-label" name ="slider_min_label" hidden></div>
                        <div id="slider-div">
                          <div>start time </div>
                          <div>
                            <input type="range" id="ex2" data-slider-min="1" data-slider-max="2000"
                              data-slider-value="[1,2000]" name="range"/>
                          </div>
                          <div>end time </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <!-- Mobile -->
                  <div class="Mobile box" style="display: none;">
                    <!-- ISP  -->
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">
                        ISP ( Operator ) :</label>
                      <div class="col-sm-8">
                        <select class="form-control input-sm" name="rank">
                          <option value="top">Best in Market </option>
                          <option value="each">Best from each operator </option>
                        </select>
                      </div>
                    </div>
                    <!-- Plan Type -->
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">
                        Plan Type :</label>
                      <div class="col-sm-8">
                        <select class="form-control input-sm" name="plan_type">
                          <option name="all_Plans">All Plans </option>
                          <option name="prepaid">Prepaid </option>
                          <option name="postpaid">Postpaid </option>
                        </select>
                      </div>
                    </div>
                    <!-- Term Length  -->
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">
                        Term Length :</label>
                      <div class="col-sm-8">
                        <select class="form-control input-sm" name="term_length">
                          <option name="1 day">1 day </option>
                          <option name="1 Week">1 Week </option>
                          <option name="1 Month">1 Month </option>
                          <option name="+12 Months">+12 Months </option>
                        </select>
                      </div>
                    </div>
                    <!-- Data GB Per Month -->
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">
                        Data GB Per Month :</label>
                      <div class="col-sm-8">
                        <input class="form-control input-sm" id="data_allowance" name="data_allowance" value=""
                          type="text">
                      </div>
                    </div>

                    <!-- Data GB Per Month -->
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">
                        Price :</label>
                      <div class="col-sm-8">
                        <input class="form-control input-sm" id="price" name="price" value="" type="text">
                      </div>
                    </div>

                    <!-- Minutes Per Month -->
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">
                        Minutes Per Month :</label>
                      <div class="col-sm-8">
                        <input class="form-control input-sm" type="text" name="minutes_per_month">
                      </div>
                    </div>
                  </div>

                  <!-- Fixedbroadband -->
                  <div class="Fixedbroadband box" style="display: none;">
                    <!-- ISP -->
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">
                        ISP ( Operator ) :</label>
                      <div class="col-sm-8">
                        <select class="form-control input-sm">
                          <option>Best in Market </option>
                          <option>Best from each operator </option>
                        </select>
                      </div>
                    </div>
                    <!-- Max Monthly spend -->
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">
                        Max Monthly spend :</label>
                      <div class="col-sm-8">
                        <input class="form-control input-sm" type="text">
                      </div>
                    </div>
                    <!-- Data GB Per Month -->
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">
                        Data GB Per Month :</label>
                      <div class="col-sm-8">
                        <input class="form-control input-sm" type="text">
                      </div>
                    </div>
                    <!-- Minutes Per Month -->
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">
                        Minutes Per Month :</label>
                      <div class="col-sm-8">
                        <input class="form-control input-sm" type="text">
                      </div>
                    </div>
                  </div>

                  <!-- Mobile & Fixed Broadband -->
                  <div class="Both box" style="display: none;">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">
                        ISP ( Operator ) :</label>
                      <div class="col-sm-8">
                        <select class="form-control input-sm">
                          <option>Best in Market </option>
                          <option>Best from each operator </option>
                        </select>
                      </div>
                    </div>
                    <!-- Plan Type -->
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">
                        Plan Type :</label>
                      <div class="col-sm-8">
                        <select class="form-control input-sm">
                          <option>All Plans </option>
                          <option>Prepaid </option>
                          <option>Postpaid </option>
                        </select>
                      </div>
                    </div>
                    <!-- Term Length  -->
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">
                        Term Length :</label>
                      <div class="col-sm-8">
                        <select class="form-control input-sm">
                          <option>1 day </option>
                          <option>1 Week </option>
                          <option>1 Month </option>
                          <option>+12 Months </option>
                        </select>
                      </div>
                    </div>
                    <!-- Data GB Per Month -->
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">
                        Data GB Per Month :</label>
                      <div class="col-sm-8">
                        <input class="form-control input-sm" type="text">
                      </div>
                    </div>
                    <!-- Minutes Per Month -->
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">
                        Minutes Per Month :</label>
                      <div class="col-sm-8">
                        <input class="form-control input-sm" type="text">
                      </div>
                    </div>
                    <!-- Max Monthly spend -->
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">
                        Max Monthly spend :</label>
                      <div class="col-sm-8">
                        <input class="form-control input-sm" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-8">
                      <button class="btn btn-submit" 
                        >Submit</button>
                    </div>
                  </div>
                </form>
      </section>
    </main>

    <footer class="footer-sec">
      <div class="container-xl">
        <div class="row">
          <div class="col-12">
            <div class="powered-cover">
              Powered by
              <img src="{% static 'images/SBlogo.png' %}" alt="Logo" style="width: 70px ;">
            </div>
          </div>
        </div>
      </div>
    </footer>

    <a href="javaScript:;" id="return-top" class="return-top"><span>
        <img src="{% static 'images/up-icon.svg' %}" alt="Up">
      </span></a>

    <!-- DropDown multiple selection script -->
    <script type="text/javascript">
      $(document).ready(function () {
        $('#allSelectedText').multiselect(
          {
            includeSelectAllOption: true,
            //  allSelectedText: 'No option left ...'
          }
        );
      });
    
    </script>

    <!-- Range script -->
    <script>
      const setLabel = (lbl, val) => {
        const label = $(`#slider-${lbl}-label`);
        label.text(val);
        const slider = $(`#slider-div .${lbl}-slider-handle`);
        const rect = slider[0].getBoundingClientRect();
        label.offset({
          top: rect.top - 30,
          left: rect.left
        });
      }

      const setLabels = (values) => {
        setLabel("min", values[0]);
        setLabel("max", values[1]);
      }


      $('#ex2').slider().on('slide', function (ev) {
        setLabels(ev.value);
       
      });
      setLabels($('#ex2').attr("data-value").split(","));

     
      
    </script>
  </body>
</div>

</html>